<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="agsXMPP" version="1.1.1.0" targetFramework="net45" />
  <package id="Altairis.Web.UI" version="2.1.11.0" targetFramework="net45" />
  <package id="DotNetOpenAuth.AspNet" version="4.2.2.13055" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core" version="4.2.2.13055" targetFramework="net45" />
  <package id="DotNetOpenAuth.FacebookOAuth2" version="1.0.0.0" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.2.2.13055" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.2.2.13055" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.2.2.13055" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.2.2.13055" targetFramework="net45" />
  <package id="Facebook" version="6.4.0" targetFramework="net45" />
  <package id="Facebook.CSharp.SDK" version="1.0.0" targetFramework="net45" />
  <package id="Facebook.Helper" version="1.0" targetFramework="net45" />
  <package id="Facebook.Sample" version="5.5.0-beta" targetFramework="net45" />
  <package id="Facebook-Chat" version="1.1" targetFramework="net45" />
  <package id="FacebookEasyAccess" version="1.0.11" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
</packages>